---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  font-family: 'Raleway', sans-serif;
}

header { 
  background: #348F50;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header h1 {
 font-family: inherit; 
}

.wrapper {
  width: 790px;
}

nav,
footer {
 width: 300px;
  left: 43%;
}

section {
 width: 715px; 
}

footer {
 margin-left: -580px; 
}

#banner {
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid #f4f4f4;
}
